*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250,248,248);
}
.header { padding: 10px;
    width: 100%;
    /* margin: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: start;
     background-color: rgb(233, 187, 103);
     height: 10rem;
     position: relative;
  }
  .headerName{
    font-size: 18px;
    padding-left: 22rem;
    padding-top: 1rem;
  }
  .submitForm > button{
     border: none;
     width: 8rem;
     padding: 6px;
     font-size: 16px;
     height: 2.8rem;
     box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6);
     color: white;
     cursor: pointer;
    background-color: rgb(61, 120, 61);
;
  }
  .container{
    background-color: white;
  }
.dashboard{
    display: flex;
    width: 100%;
position: absolute;
top: 6rem;
height: 91vh;
}
.dashboardTabs{
    width: 20%;
    background-color: white;
    margin-right: 1rem;
    margin-top: 4rem;
}
  .dashboardForm{
   width: 100%;
   display: flex;
   flex-direction: column;
  }
  .mainInputField{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
  }
  .firsrInputField{
    display: flex;
  
    gap: 2rem;
    width: 100%;
  }
  .datefield{
    flex-direction: column;
    text-align: left;
  }
  .inputField{
    width: 25rem;
    padding: 0.4rem;
  }
  .secondInputField{
    display: flex;
     gap: 2rem;
    width: 100%;
  }
  .decription{
    flex-direction: column;
    text-align: left;
  }
  .attachment{
    flex-direction: column;
    text-align: left;
    padding: 0.4rem;
  }
  label {
    margin-right: 10px;
  }
  
  input[type="date"],
  input[type="number"],
  select {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  button {
    margin-top: 10px;
  }
  
  #totals {
    margin-top: 20px;
  }
  
  #totals input {
    margin-right: 10px;
  }
  
  .subTable {
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .subTable th, .subTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .debit{
    width: 10rem;
    padding: 0.4rem;
  }
  .credit{
    width: 10rem;
    padding: 0.4rem;
  }
  .accountName{
    width: 10rem;
    padding: 0.4rem;
  }
  .description{
    width: 10rem;
    padding: 0.4rem;
  }
  .costCenter{
    width: 10rem;
    padding: 0.4rem;
  }
  .tax{
    width: 10rem;
    padding: 0.4rem;
  }
  .removeRow{
    padding:0.3rem;
    width: 6rem;
    background-color: rgb(219, 85, 85);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;

  }
  .costCenter{
    width: 10rem;
    padding: 0.4rem;
  }
  .percentage{
    width: 10rem;
    padding: 0.4rem;
  }

  .amount{
    width: 10rem;
    padding: 0.4rem;
  }
  #addRow{
    padding: 0.8rem;
    background-color: rgb(103, 192, 103);
    width: 6rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
  .totalDebit{
    width: 10rem;
    padding: 0.4rem;
  }
  .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  